# Python
__pycache__/
*.py[cod]
*.class
*.so
venv/
env/

# ML / Models
*.pt
datasets/
models/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Xcode / Apple dev
build/
DerivedData/

*.xcodeproj/
*.xcworkspace/

# User-specific Xcode files
*.xcuserstate
*.xcuserdatad/

# Source control metadata
*.xccheckout
*.xcscmblueprint

# macOS
.DS_Store

